{% extends 'core/base.html' %}


{% block content %}

<main class="container text-center">
    <h2 class='header'>Sites favoris</h2>
</main>

<div class="site-list container">
    {% for m,v in data.items %}
        <h3 class='bg-secondary-subtle'>{{m}}</h3>

        {% for site in v %}
            <div class='row'>
                <span class='col'>{{site.0}}</span>
                <span class='col'><a target="_blank" href="https://ebird.org/hotspot/{{site.1}}">{{site.1}}</a></span>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock content %}

