{% extends 'core/base.html' %}


{% block content %}

<main class="container text-center">
    <h2 class='header'>Sites favoris</h2>
</main>

<div class="site-list container">
    {% regroup sites by municipalite as municipalite_list %}
    {% for municipalite in municipalite_list %}
        <h3 class='bg-secondary-subtle'>{{municipalite.grouper}}</h3>

        {% for site in municipalite.list %}
            <div class='row'>
                <span class='col'>{{site.site_name}}</span>
                <span class='col'><a target="_blank" href="https://ebird.org/hotspot/{{site.loc_id}}">{{site.loc_id}}</a></span>
            </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock content %}

