{% extends 'core/base.html' %}


{% block content %}

<main class="container text-center">
    <h2 class='header'>Sites favoris</h2>
</main>

<div class="site-list container">
    {% for m in munic %}
        <h3 class='bg-secondary-subtle'>{{m.name}}</h3>

        {% for item in data %}
            {% if m.name == item.municipalite %}
                <div class='site-detail'>
                    <span>{{item.municipalite}}</span>
                    <span>{{item.site_name}}</span>
                    <span><a target="_blank" href="https://ebird.org/hotspot/{{item.loc_id}}">{{item.loc_id}}</a></span>
                </div>
            {%else%}
                <p>{{m.name}} - {{item.municipalite}}</p>
            {% endif %}
        {% endfor %}


    {% endfor %}

    {% comment %} {% for item in data %}
    <div class='site-detail'>
        <span>{{item.municipalite}}</span>
        <span>{{item.site_name}}</span>
        <span><a target="_blank" href="https://ebird.org/hotspot/{{item.loc_id}}">{{item.loc_id}}</a></span>
    </div>
    {% endfor %} {% endcomment %}
    
</div>
{% endblock content %}

