{% extends 'core/base.html' %}


{% block content %}

<main class="container">
    <h2 class='header'>Observations récentes par MRC</h2>
    <p>Affiche le nom de l'espèce, l'endroit et la date à laquelle l'espèce à été observée dans les 7 derniers jours.</p>
    <nav class="nav">
        <a class='nav-link' href="{% url 'observation-municipalite' 'ou' 7 %}">Gatineau</a>
        <a class='nav-link' href="{% url 'observation-municipalite' 'ou' 7 %}">Papineau</a>
    </nav>
</main>
{% endblock content %}

