{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<main class="container">
    <section class="w-75 m-auto py-4" id="filter-form">
        <form action="{% url 'search-species' %}" method="GET">
            <div class="bg-secondary rounded-top-4 p-2 mt-2">Rechercher espèce </div>
                <input class='form-control rounded-bottom-4' type="text" name='search_term' value="{{initial.search_term}}">
            </div>
        </form>
    </section> 
    <section>
        {% include 'core/paginator.html' %}
        {% if not data %}
        <div>No lines associated to cost center</div>
        {% endif %}

        <h3 class='container bg-primary text-secondary text-center'>Nom d'espèces contenant <u>{{initial.search_term}}</u> </h3>
        <div class='row bg-secondary m-0'>
            <span class='col'>Nom français </span>
            <span class='col'>Nom anglais</span>
            <span class='col'>Nom espagnol</span>
        </div>
        <div class="species">
            {% for item in data %}
            <div class='species_name c3 row'>
                <span class='col'>{{item.comNameFr}} </span>
                <span class='col'> {{item.comNameEn}} </span>
                <span class='col'> {{item.comNameEs}} </span>
            </div>
            <div class="species_detail row bg-secondary-subtle" style='display:none;'>
                <div class="row">
                    <span class='col'>Code d'espèce</span><span class='col'> {{item.speciesCode}}</span>
                </div>
                <div class="row">
                    <span class='col'>ordre</span><span class='col'> <a href="{% url 'order' item.order%}">{{item.order}}</a> </span>
                </div>
                <div class="row">
                    <span class='col'>Nom de famille commun</span><span class='col'> {{item.familyComName}}</span>
                </div>
                <div class="row">
                    <span class='col'>Nom de famille scientifique</span><span class='col'> <a href="{% url 'family-sci-name' item.familySciName%}">{{item.familySciName}}</a></span>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock content %}

{% block extrajs %}
<script src="{% static 'js/species_detail.js' %}"></script>
{% endblock extrajs %}