{% extends 'core/base.html' %}

{% block titre %}MRC desservies{% endblock titre %}

{% block content %}

<main class="block block--centered">
    <table>
        <caption>MRCs</caption>
        <thead>
            <tr>
                <th>MRC</th>
                <th>Crée</th>
                <th>Mise à jour</th>
                <th colspan=2></th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
            <td>{{d.name}}</td>
            <td>{{d.created_by}}, {{d.created_at}}</td>
            <td>{{d.updated_by}}, {{d.updated_at}}</td>
            {% if user.is_authenticated %}
                <td>
                    <a class='btn' href="{% url "update-mrc" d.pk %}">Modifier</a>
                </td>
                <td>
                    <a class='btn btn-delete' href="{% url "delete-mrc" d.pk %}">Effacer</a>
                </td>
            {% endif %}
            </tr>
            {% endfor %} 

        </tbody>
        {% if user.is_authenticated %}
        <tfoot>
            <tr><td colspan=5><a class='btn' href="{% url 'add-mrc' %}">Ajouter</a></td></tr>
        </tfoot>
        {% endif %}
    </table>
</main>

{% endblock content %}