{% extends 'core/base.html' %}

{% block content %}
<section class="block block--centered">

    <div class="form">
        <header class="form__header">
            <h1>Municipalité</h1>
        </header>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.errors }}
            {{ form.non_field_errors }}
            <div class="form__fields">
                <div class='form__field'>
                    <label class="label">{{form.mrc.label}}</label>{{form.mrc}}
                </div>
                <div class="form__field">
                    <label class="label">{{form.name.label}}</label>{{form.name}}
                </div>
                <div class="form__row">
                    <button class="btn">Sauvegarder</button>
                    <button class="btn btn-delete">Effacer</button>
                </div>
            </div>
        </form>
        <footer class="form__footer">
            <span>Dernière modification: 3 jan 2022</span>
            <span>Mario St-Gelais</span>
        </footer>
    </div>
</section>
{% endblock content %}