// @use "colors" as *;

* {
    font-family: $font-base;
}

.hr {
    border: 2px solid $color-theme;
    background-color: $color-theme;
    margin-top: 1px;

    &--thin {
        border: 1px solid $color-theme;
    }

    &--wide {
        border: 5px solid $color-theme;
    }
}

input,
textarea {
    font-size: calc(max(16px, 2rem));
    font-weight: 400;
}

/*
  Headers & Footers & caption
  */

h1 {
    font-size: 4.8rem;
    font-weight: $font-regular;
    text-align: center;
    @include respond-small {
        font-size: 2.4rem;
    }
}

h2 {
    font-size: 3.6rem;
    font-weight: $font-regular;
    text-align: center;

    @include respond-small {
        font-size: 2.6rem;
    }
}

h3 {
    font-size: 2.6rem;
    font-weight: $font-regular;
    text-align: center;

    @include respond-small {
        font-size: 2rem;
    }
}

header > h2,
header > h3,
footer {
    background-color: $color-theme;
    color: $color-white;
    padding: 0em 0.5em;
}

header > h2 {
    color: $color-white;
    padding: 0em 0.5em;
}

p,
span,
strong {
    font-size: 1.8rem;
    font-weight: $font-regular;
}
@include respond-small {
    p {
        padding: 0 0.5rem;
    }
    footer {
        font-size: 1.6rem;
        text-align: center;
    }
}
strong {
    font-weight: $font-medium;
}
