{% load static %}
<header class="site-header">
    <div class="site-header__logo">
      <a href="/">
        <img src="{% static 'images/logo-white.png'%}" alt="Site Logo" />
      </a>
    </div>
    <div class="site-header--title">
      <h1>Repère ornithologique</h1>
      <h3>Votre binoculaire virtuel</h3>
    </div>
  </header>

  <nav class="site-nav">
    <div class="block block--spaced">
      <a class="btn btn--link" href="#">Home</a>
      <a class="btn btn--link" href="#">Taxonomie</a>
      <a class="btn btn--link" href="#">Sites préférés</a>
    </div>
  </nav>