{% if data.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if data.has_previous %}
        <li class="page-item">
            <a class='page-link' href="?page=1&{{query_string}}">&laquo; Première page</a>
        </li>
        <li class="page-item">
            <a class='page-link' href="?page={{data.previous_page_number}}&{{query_string}}">page précédente</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class='page-link btn-disabled' href="?page=1&{{query_string}}">&laquo; Première page</a>
        </li>
        <li class="page-item">
            <a class='page-link btn-disabled' href="?page={{data.paginator.num_pages}}&{{query_string}}">page précédente</a>
        </li>
        {% endif %}

        <span class="p-2">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
        <li class="page-item">
            <a class='page-link' href="?page={{ data.next_page_number }}&{{query_string}}">Page suivante</a>
        </li>
        <li class="page-item">
            <a class='page-link' href="?page={{ data.paginator.num_pages }}&{{query_string}}">Dernière page &raquo;</a>
        </li>
        {% else %}
            <li class="page-item"><a class='page-link btn-disabled' href="?page={{ data.next_page_number }}&{{query_string}}">Page suivante</a></li>
            <li class="page-item"><a class='page-link btn-disabled' href="?page={{ data.paginator.num_pages }}&{{query_string}}">Dernière page &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}