@import "../base/colors";

.container {
    display: grid;
    justify-content: center;
    main {
        display: grid;
        grid-template-columns: 1200px;
        padding: 0 20px;
        @include respond-small {
            display: flex;
            padding: 0;
        }
    }

    @include respond-small {
        display: flex;
    }
}
aside {
    position: fixed;
    margin-left: -200px;
    visibility: hidden;
}
.merge {
    grid-column: 1/-1;
}

.block {
    padding: 1rem 1rem;

    &--centered {
        display: grid;
        justify-content: center;
        justify-items: center;
    }
    &--spaced {
        display: flex;
        justify-content: space-around;
    }
    @include respond-small {
        padding: 1rem 0;
    }
}

.panel {
    padding: 1rem 0;
}

.frame {
    padding: 0 1rem;
}

.columns {
    display: grid;
    column-gap: 1.5rem;
    padding: 2rem;
    justify-items: center;
}

.rows {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.c2 {
    grid-template-columns: 1fr 1fr;
}
.c3 {
    grid-template-columns: repeat(3, 1fr);
}
.c4 {
    grid-template-columns: repeat(4, 1fr);
}
.header {
    background-color: $color-theme;
    color: $color-theme-light;
    padding: 1.5rem 1rem;

    &--logo {
        max-width: 175px;
    }
}
.site-header {
    display: flex;
    background-color: $color-theme;
    color: $color-theme-light;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    &__logo {
        max-width: 175px;
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 0 12rem;
    }

    @include respond-small {
        background-color: red;
        flex-direction: column;
        font-size: 24px;
    }
}

.footnote {
    text-align: right;
    font-size: $size-small;
}
.species_name {
    display: grid;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}
.species_detail {
    padding-left: 25px;
    background-color: $color-theme-background;
    display: none;
    grid-template-columns: 1fr 1fr;

    @include respond-small {
        padding-left: 0;
    }
}
.species {
    @include respond-small {
        .species_name {
            display: flex;
            flex-direction: column;
        }
        .species_name:nth-child(4n + 1) {
            background-color: $color-theme-row-odd;
        }
        & .species_name:nth-child(4n + 3) {
            background-color: $color-theme-row-even;
        }
    }
}
