*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  color: inherit;
  font-size: inherit; }

:root {
  box-sizing: border-box;
  line-height: 1.7; }

html {
  font-size: 62.5%; }

body {
  line-height: 1.6;
  font-weight: 400;
  font-family: arial, helvetica, sans-serif;
  font-size: 2rem;
  min-height: 100vh;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

* {
  font-family: arial, helvetica, sans-serif; }

.hr {
  border: 2px solid #1d3030;
  background-color: #1d3030;
  margin-top: 1px; }
  .hr--thin {
    border: 1px solid #1d3030; }
  .hr--wide {
    border: 5px solid #1d3030; }

input,
textarea {
  font-size: calc(max(16px, 2rem));
  font-weight: 400; }

/*
  Headers & Footers & caption
  */
h1 {
  font-size: 4.8rem;
  font-weight: 300;
  text-align: center; }
  @media (max-width: 650px) {
    h1 {
      font-size: 2.4rem; } }
h2 {
  font-size: 3.6rem;
  font-weight: 300;
  text-align: center; }
  @media (max-width: 650px) {
    h2 {
      font-size: 2.6rem; } }
h3 {
  font-size: 2.6rem;
  font-weight: 300;
  text-align: center; }
  @media (max-width: 650px) {
    h3 {
      font-size: 2rem; } }
header > h2,
header > h3,
footer {
  background-color: #1d3030;
  color: #f3f3f3;
  padding: 0em 0.5em; }

header > h2 {
  color: #f3f3f3;
  padding: 0em 0.5em; }

p,
span,
strong {
  font-size: 1.8rem;
  font-weight: 300; }

@media (max-width: 650px) {
  p {
    padding: 0 0.5rem; }
  footer {
    font-size: 1.6rem;
    text-align: center; } }

strong {
  font-weight: 500; }

.btn {
  font-family: inherit;
  font-size: 1.5rem;
  background-color: #359e64;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #f3f3f3;
  border-radius: 4px;
  box-shadow: 0 3px 5px rgba(68, 108, 162, 0.8);
  padding: 0.5em 1em;
  min-width: 15ch;
  min-height: 24px;
  transition: 220ms all ease-in-out;
  line-height: 1.1rem;
  text-decoration: none;
  margin: 0.5rem; }
  .btn:hover,
  .btn :active {
    opacity: 0.6;
    color: #f3f3f3; }
  .btn:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 2px rgba(68, 108, 162, 0.8); }
  .btn:disabled, .btn.btn-disabled {
    border: 1px solid #404040;
    background-color: #a5b9d2;
    color: #404040;
    cursor: not-allowed;
    opacity: 1; }
  .btn.btn-delete {
    background-color: firebrick; }
  .btn.btn-back {
    background-color: #404040; }
  .btn.btn--link {
    background-color: inherit;
    border: none;
    box-shadow: 0 0 0 0px; }
    .btn.btn--link:hover {
      background-color: #373538;
      color: #f3f3f3;
      border: 1px solid;
      border: #f3f3f3;
      box-shadow: 0 3px 5px rgba(68, 108, 162, 0.8); }
    .btn.btn--link-small {
      margin: 0;
      padding: 0 8px;
      min-width: fit-content;
      min-height: 20px;
      font-size: 1.1rem; }
  .btn.btn--link-dark {
    background-color: inherit;
    color: #595142;
    border: none;
    box-shadow: 0 3px 5px rgba(68, 108, 162, 0.8); }

@use "../base/colors" as *;
.form {
  background-color: #a5b9d2;
  border-left: 1px solid #1d3030;
  border-right: 1px solid #1d3030;
  border-radius: 8px;
  display: grid;
  justify-content: center;
  align-items: start;
  align-content: start;
  width: fit-content; }
  .form section {
    padding: 4px; }
  .form--collapsible {
    grid-template-columns: 1fr 0px;
    transition: all 0.3s ease-in-out; }
    .form--collapsible header {
      font-size: 20px; }
    .form--collapsible .input,
    .form--collapsible .label,
    .form--collapsible button {
      font-size: 16px; }
    .form--collapsible section {
      padding-right: 9px; }
  .form__expender {
    width: 12px;
    background-color: #1d3030;
    height: 100%;
    position: relative;
    left: -5px;
    border-radius: 0 8px 8px 0; }
  .form__fields {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 14px;
    padding: 2rem; }
    .form__fields > .right {
      grid-column: 1/-1;
      justify-content: end; }
  .form__fields-flex {
    display: grid;
    align-items: center;
    gap: 14px;
    padding: 2rem; }
  .form__row {
    display: flex;
    gap: 8px; }
  .form__field {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .form__field img {
      max-width: 132px; }
  .form__header {
    border-radius: 8px 8px 0 0;
    background-color: #1d3030;
    color: #a5b9d2;
    text-align: center;
    font-size: 3rem;
    padding: 0 2rem; }
    .form__header--small {
      font-size: 1.5rem; }
  .form__footer {
    grid-column-start: 1/-1;
    background-color: #1d3030;
    color: #a5b9d2;
    text-align: center;
    font-size: 1rem;
    padding: 0 2rem;
    border-radius: 0px 0px 8px 8px; }
  .form__body {
    display: grid;
    padding: 0 2rem;
    align-content: start; }
  .form--two-col {
    grid-template-columns: auto auto;
    gap: 3rem; }
  .form--three-col {
    grid-template-columns: auto auto auto;
    gap: 3rem; }

.select {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .select::after {
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #1d3030;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end; }

.input,
.select {
  line-height: 1.1;
  background-color: #f3f3f3;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid #1d3030;
  font-family: inherit;
  transition: 180ms box-shadow ease-in-out; }
  .input:focus,
  .select:focus {
    border-color: #1d3030;
    box-shadow: 0 0 0 2px rgba(68, 108, 162, 0.8);
    outline: 3px solid transparent; }
  .input:hover,
  .select:hover {
    opacity: 0.8;
    box-shadow: 0 3px 5px rgba(68, 108, 162, 0.8);
    background-color: #8fbcbc; }

.label {
  font-weight: 300;
  display: block;
  font-size: 2rem;
  color: #1d3030; }

/*Move to typography*/
select {
  appearance: none;
  font-size: 2rem;
  position: relative;
  border: none;
  margin: 0;
  width: 100%;
  cursor: pointer;
  z-index: 1;
  background-color: transparent;
  outline: none; }

select,
.select:after {
  grid-area: select; }

input,
select,
textarea {
  font-size: calc(max(16px, 2rem));
  font-weight: 400; }

textarea {
  grid-column: 1/-1;
  resize: vertical; }

.site-nav {
  background-color: #437070; }

.hint {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  gap: 1rem; }
  .hint-error {
    background-color: firebrick;
    color: #f3f3f3; }
  .hint-warning {
    background-color: #ff5722;
    color: #f3f3f3; }
  .hint-info {
    background-color: #2196f3;
    color: #f3f3f3; }
  .hint-success {
    background-color: #359e64;
    color: #f3f3f3; }

.status {
  padding: 0.2rem 0.4rem; }
  .status--warning {
    color: #f3f3f3;
    background-color: firebrick; }
  .status--ok {
    color: #f3f3f3;
    background-color: #359e64; }

.checkbox-label {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  margin-top: 1em;
  cursor: pointer; }

input[type="checkbox"] {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: #f3f3f3;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em); }

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em red;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); }

input[type="checkbox"]:checked::before {
  transform: scale(1); }

input[type="checkbox"] :focus {
  outline: calc(max(2px, 0.15em)) solid currentColor;
  outline-offset: calc(max(2px, 0.15em)); }

input[type="checkbox"]:disabled {
  color: #959495;
  cursor: not-allowed; }

.checkbox--disabled {
  color: #959495;
  cursor: not-allowed; }

.container {
  display: grid;
  justify-content: center; }
  .container main {
    display: grid;
    grid-template-columns: 1200px;
    padding: 0 20px; }
    @media (max-width: 650px) {
      .container main {
        display: flex;
        padding: 0; } }
  @media (max-width: 650px) {
    .container {
      display: flex; } }
aside {
  position: fixed;
  margin-left: -200px;
  visibility: hidden; }

.merge {
  grid-column: 1/-1; }

.block {
  padding: 1rem 1rem; }
  .block--centered {
    display: grid;
    justify-content: center;
    justify-items: center; }
  .block--spaced {
    display: flex;
    justify-content: space-around; }
  @media (max-width: 650px) {
    .block {
      padding: 1rem 0; } }
.panel {
  padding: 1rem 0; }

.frame {
  padding: 0 1rem; }

.columns {
  display: grid;
  column-gap: 1.5rem;
  padding: 2rem;
  justify-items: center; }

.rows {
  display: flex;
  align-items: center;
  flex-direction: column; }

.c2 {
  grid-template-columns: 1fr 1fr; }

.c3 {
  grid-template-columns: repeat(3, 1fr); }

.c4 {
  grid-template-columns: repeat(4, 1fr); }

.header {
  background-color: #1d3030;
  color: #8fbcbc;
  padding: 1.5rem 1rem; }
  .header--logo {
    max-width: 175px; }

.site-header {
  display: flex;
  background-color: #1d3030;
  color: #8fbcbc;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem; }
  .site-header__logo {
    max-width: 175px; }
  .site-header__title {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 0 12rem; }
  @media (max-width: 650px) {
    .site-header {
      background-color: red;
      flex-direction: column;
      font-size: 24px; } }
.footnote {
  text-align: right;
  font-size: 1rem; }

.species_name {
  display: grid;
  justify-content: center; }
  .species_name:hover {
    cursor: pointer; }

.species_detail {
  padding-left: 25px;
  background-color: #a5b9d2;
  display: none;
  grid-template-columns: 1fr 1fr; }
  @media (max-width: 650px) {
    .species_detail {
      padding-left: 0; } }
@media (max-width: 650px) {
  .species .species_name {
    display: flex;
    flex-direction: column; }
  .species .species_name:nth-child(4n + 1) {
    background-color: #eaccae; }
  .species .species_name:nth-child(4n + 3) {
    background-color: #faf2eb; } }

@use "../base/colors" as *;
table {
  font-size: 1.8rem;
  border-collapse: collapse; }
  table > caption {
    font-size: 2.5rem;
    background-color: #1d3030;
    color: #f3f3f3; }
  table > thead {
    background-color: #8fbcbc; }

th,
td {
  padding: 1.2rem 2rem;
  text-align: left; }

tbody tr:nth-child(odd) {
  background-color: #eaccae; }

tbody tr:nth-child(even) {
  background-color: #faf2eb; }

tr {
  vertical-align: middle; }

/*# sourceMappingURL=all.css.map */