.fiche_title {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    @include respond-small {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.slideshow {
    display: grid;
    gap: 5px;
    @include respond-small {
        display: flex;
        flex-direction: column;
    }
}
.slides {
    display: grid;
    justify-content: center;
    .title,
    .author {
        background-color: $color-theme;
        color: $color-white;
        font: italic smaller sans-serif;
        padding: 5px 0;
        text-align: center;
    }
    @include respond-small {
        display: flex;
        flex-direction: column;
    }
    .title {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .author {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    & .hidden {
        display: none;
    }
    & .visible {
        display: flex;
    }
    img {
        max-width: 1024px;
        @include respond-small {
            width: 90%;
        }
    }
}

.miniatures {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    gap: 3rem;
    justify-content: center;
    padding: 1rem 3rem;
    background-color: $color-theme-light;
    border-radius: 1rem;
    & .miniature {
        & > :hover {
            opacity: 0.6;
        }
        & img {
            border-radius: 8px;
        }
    }

    @include respond-small {
        padding: 0;
    }
}

.opacity-off {
    opacity: 1;
}
.opacity {
    opacity: 0.6;
}

.information {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 2rem;
        background-color: $color-theme-medium;
        color: $color-white;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        @include respond-small {
            text-align: center;
        }
    }
    &__detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include respond-small {
        padding: 0;
    }
}

.checkmark::before {
    content: "\2713";
    display: inline-block;
    color: green;
    /* padding: 20px; */
}
.crossmark::before {
    content: "\2717";
    display: inline-block;
    color: red;
}

a.precedent,
a.suivant {
    text-decoration: none;
}
.precedent::after {
    content: "\261C";
    font-size: 4rem;
}
.suivant::after {
    content: "\261E";
    font-size: 4rem;
}

// .w3-opacity,
// .w3-hover-opacity:hover {
//     opacity: 0.6;
// }
// .w3-opacity-off,
// .w3-hover-opacity-off:hover {
//     opacity: 1;
// }
// .w3-opacity-max {
//     opacity: 0.25;
// }
// .w3-opacity-min {
//     opacity: 0.75;
// }
