.summary {
  padding: 2rem 0.5rem 0 2rem;
  max-width: 1200px;
  min-width: 900px;
  &__header {
    background-color: $color-theme-black;
    color: #fff;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    align-items: center;
  }
  &__body {
    background-color: $color-theme-narratif;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    column-gap: 3rem;
  }
  &__footer {
    display: flex;
    justify-content: space-around;
    background-color: $color-theme-medium;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1rem;
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
}
